<!-- Modal -->
<div class="modal fade" data-backdrop="static" id="addFuelReceivedModal" tabindex="-1" role="dialog" aria-labelledby="addFuelReceivedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addFuelReceivedModalLabel">Add Fuel Received</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addFuelForm" autocomplete="off" style="font-size:15px">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="amount_of_fuel_disbursed">Total Fuel Received</label>
                                <input type="number" class="form-control" id="amount_of_fuel_received" name="amount_of_fuel_received" placeholder="Enter Total Fuel Received" required>                            
                            </div>
                        </div>
                    
                        <div class="mb-3 col-md-6">
                            <div class="form-group">
                                <label for="transaction_date">Date Fuel Received</label>
                                <input type="date" class="form-control" id="transaction_date" name="transaction_date" placeholder="Select Disbursement Date" required>
                            </div>
                        </div>
                   
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="vehicle">Programme 1</label>
                                <input type="number" class="form-control" name="" id="" placeholder="Enter allocation for programme 1">
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="vehicle">Programme 2</label>
                                <input type="number" class="form-control" name="" id="" placeholder="Enter allocation programme 2">
                            </div>
                        </div>
                        <div class="mb-3 col-md-4">
                            <div class="form-group">
                                <label for="vehicle">Programme 3</label>
                                <input type="number" class="form-control" name="" id="" placeholder="Enter allocation programme 3 ">
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary btn-sm" id="submitFuelBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="toastContainer" aria-live="polite" aria-atomic="true" style="position: fixed; top: 16px; right: 16px; z-index: 9999;"></div>
    <!-- Popup -->
    <div class="modal fade" id="numberPlateExistsModal" tabindex="-1" role="dialog" aria-labelledby="numberPlateExistsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="numberPlateExistsModalLabel">Number Plate Already Exists</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>The number plate you entered already exists. Please enter a different number plate.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div>


    
