{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="{% static 'dist/img/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">MWACSMED</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <!-- <img src="{% static 'dist/img/avatar.png' %}" class="img-circle elevation-2" alt="User Image"> -->
        <!-- <i class="img-circle elevation-2 fas fa-user fa-1x" style="color: gray; opacity: 0.5;"></i> -->
      </div>
      <!--   <div class="info">
        {% if request.user.is_authenticated %}
          <a href="#" class="d-block">{{request.user.first_name | upper}} {{request.user.last_name | upper}}</a>
        {% else %}
          <a href="#" class="d-block">Alexander Pierce</a>
        {% endif %}        
      </div> -->
      <!-- <div class="info text-white">
        Management
      </div> -->
    </div>
 
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      {% include 'includes/menu-list.html' %}
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>