<script>
    // Cascading dropdowns for Province and Location
    $(document).ready(function() {

        // Populate Provinces dropdown
        $.ajax({
            url: '/api/v1/provinces/',
            dataType: 'json',
            success: function(data) {
                $.each(data.provinces, function(index, province) {
                    $('#province-dropdown').append('<option value="' + province.id + '">' + province.province_name + '</option>');
                });
            }
        });

        // Handle change event for provinces dropdown
        $('#province-dropdown').change(function() {
            var provinceId = $(this).val();
            $('#location-dropdown').empty();
            if (provinceId) {
                $.ajax({
                    url: '/api/v1/locations/?province_id=' + provinceId,
                    dataType: 'json',
                    success: function(data) {
                        $('#location-dropdown').append('<option value="" selected disabled>Select Location</option>');
                        $.each(data.locations, function(index, location) {
                            $('#location-dropdown').append('<option value="' + location.id + '">' + location.location_name + '</option>');
                        });
                    }
                });
            }
        });
    });

    // Populate Fuel Type dropdown
    $(document).ready(function() {
        fetch('/api/v1/fueltype/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('fuel');
                data.fueltype.forEach(fuel => {
                    const option = document.createElement('option');
                    option.value = fuel.id;
                    option.textContent = fuel.fuel_type_name;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching Fuel Type options:', error));
    });

    // Populate Status dropdown
    $(document).ready(function() {
        fetch('/api/v1/statuses/')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById('status');
                data.status.forEach(status => {
                    const option = document.createElement('option');
                    option.value = status.id;
                    option.textContent = status.status_name;
                    select.appendChild(option);
                });
            })
            .catch(error => console.error('Error fetching status options:', error));
    });


    $(document).ready(function() {

        // JavaScript for updating vehicles
        $(document).on("show.bs.modal", ".modal", function(event) {
            var button = $(event.relatedTarget);
            var vehicleId = button.data("vehicle-id");

            $.ajax({
                url: "/api/v1/update-vehicle/" + vehicleId + "/",
                method: "GET",
                success: function(response) {
                    var modal = $(event.target);
                    modal.find("#number_plate").val(response.number_plate);
                    modal.find("#vehicle_type").val(response.vehicle_type);
                    modal.find("#province-dropdown").val(response.province_id); // Assuming 'province' is the ID of province
                    modal.find("#province-dropdown").trigger('change'); // Trigger change event to populate location dropdown
                    modal.find("#status").val(response.status_id);
                    modal.find("#classis_number").val(response.classis_number);
                    modal.find("#engine_number").val(response.engine_number);
                },
                error: function(xhr, status, error) {
                    console.error("Error fetching vehicle details:", error);
                }
            });

            $("#editVehicleForm").off().submit(function(event) {
                event.preventDefault(); // Prevent default form submission
                var formData = $(this).serialize();
                $.ajax({
                    url: "/api/v1/update-vehicle/" + vehicleId + "/",
                    method: "PUT",
                    data: formData,
                    success: function(response) {
                        showToast('success', 'Success', 'Vehicle updated successfully');
                        $("#editVehicleModal").modal("hide");
                        setTimeout(function() {
                            window.location.reload();
                        }, 3000); // Delay for 5 seconds (adjust as needed)
                    },
                    error: function(xhr, status, error) {
                        console.error('Error submitting maintenance data:', error);
                    
                        // Initialize a variable to hold your error messages
                        let errorMessage = 'Failed to submit maintenance data. Please try again.';
                    
                        // Check if the xhr response has a JSON body
                        if (xhr.responseJSON) {
                            const responseErrors = xhr.responseJSON;
                    
                            // Initialize an array to collect error messages
                            let errorMessages = [];
                    
                            // Iterate over the object and collect error messages
                            Object.keys(responseErrors).forEach(function(key) {
                                const value = responseErrors[key];
                                // Assuming each key's value is an array of error messages
                                // Adjust if your error structure is different
                                if (Array.isArray(value)) {
                                    value.forEach(function(message) {
                                        errorMessages.push(`${key}: ${message}`);
                                    });
                                } else {
                                    // If the value is not an array, directly add it to the messages
                                    errorMessages.push(`${key}: ${value}`);
                                }
                            });
                    
                            // Join all error messages into a single string, separated by semicolons
                            if (errorMessages.length > 0) {
                                errorMessage = errorMessages.join('; ');
                            }
                        }
                    
                        // Display the error message
                        // Ensure your showToast function or equivalent can handle a plain text string
                        showToast('error', 'Error', errorMessage);
                    }
                });
            });
        });


            // Function to get CSRF token
            function getCSRFToken() {
                var cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                    var cookies = document.cookie.split(";");
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, "csrftoken".length + 1) === "csrftoken=") {
                            cookieValue = decodeURIComponent(cookie.substring("csrftoken".length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });

        // JavaScript for adding vehicles
        $(document).ready(function() {
            $("#addVehicleForm").submit(function(event) {
                event.preventDefault(); // Prevent default form submission

                // Validate form fields
                var numberPlate = $("#number_plate").val().trim().toUpperCase();
                var vehicleType = $("#vehicle_type").val();
                var province = $("#province-dropdown").val();
                var location = $("#location-dropdown").val();
                var engine_number = $("#engine_number").val();
                var classis_number = $("#classis_number").val();
                var last_service_mileage = $("#last_service_mileage").val();
                var status = $("#status").val();
                var fuel = $("#fuel").val();

                // Check if any field is empty
                if (numberPlate === "" || vehicleType === null || engine_number === null|| classis_number === null || province === null || location === null || status === null || last_service_mileage ===null ) {
                    // Display error toast for empty fields
                    showToast('error', 'Error', 'Please fill in all fields');
                    return; // Stop form submission
                }

                // Check if the number plate already exists
                $.ajax({
                    url: "/api/v1/check-number-plate/",
                    type: "POST",
                    data: { number_plate: numberPlate },
                    headers: {
                        "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                    },
                    success: function(response) {
                        if (response.exists) {
                            // Display error toast for existing number plate
                            showToast('error', 'Number Plate Already Exists', 'The number plate you entered already exists. Please enter a different number plate.');
                        } else {
                            // Number plate is valid, proceed with form submission
                            $.ajax({
                                url: "/api/v1/vehicle-maintenance-create/",
                                type: "POST",
                                contentType: "application/json",
                                data: JSON.stringify({ 
                                    number_plate: numberPlate,
                                    vehicle_type: vehicleType,
                                    engine_number:engine_number,
                                    classis_number:classis_number,
                                    province_id: province,
                                    location_id: location,
                                    status_id: status,
                                    last_service_mileage:last_service_mileage,
                                    fueltype_id:fuel
                                }),
                                headers: {
                                    "X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()
                                },
                                success: function(response) {
                                    // Display success toast and reload page
                                    showToast('success', 'Success', 'Vehicle added successfully');
                                    $("#addVehicleModal").modal("hide");
                                    setTimeout(function() {
                                        window.location.reload();
                                    }, 3000); // Delay for 5 seconds (adjust as needed)
                                },
                                error: function(xhr, status, error) {
                                    console.error('Error submitting maintenance data:', error);
                                
                                    // Initialize a variable to hold your error messages
                                    let errorMessage = 'Failed to submit maintenance data. Please try again.';
                                
                                    // Check if the xhr response has a JSON body
                                    if (xhr.responseJSON) {
                                        const responseErrors = xhr.responseJSON;
                                
                                        // Initialize an array to collect error messages
                                        let errorMessages = [];
                                
                                        // Iterate over the object and collect error messages
                                        Object.keys(responseErrors).forEach(function(key) {
                                            const value = responseErrors[key];
                                            // Assuming each key's value is an array of error messages
                                            // Adjust if your error structure is different
                                            if (Array.isArray(value)) {
                                                value.forEach(function(message) {
                                                    errorMessages.push(`${key}: ${message}`);
                                                });
                                            } else {
                                                // If the value is not an array, directly add it to the messages
                                                errorMessages.push(`${key}: ${value}`);
                                            }
                                        });
                                
                                        // Join all error messages into a single string, separated by semicolons
                                        if (errorMessages.length > 0) {
                                            errorMessage = errorMessages.join('; ');
                                        }
                                    }
                                
                                    // Display the error message
                                    // Ensure your showToast function or equivalent can handle a plain text string
                                    showToast('error', 'Error', errorMessage);
                                }
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        // Display error toast for AJAX error
                        showToast('error', 'Error', 'An error occurred while checking the number plate. Please try again later.');
                        console.error("Request failed with status:", status);
                        console.error(error);
                    }
                });
            });
        });

        // Function to show toast notifications
        function showToast(type, title, message) {
            $('.toast').toast('hide'); // Hide any existing toast alerts

            // Construct the toast HTML with appropriate class based on type
            var toastHTML = `
                <div class="toast ${type}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="${type === 'success' ? '5000' : '3000'}">
                    <div class="toast-header">
                        <strong class="mr-auto">${title}</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        ${message}
                    </div>
                </div>`;
            
            // Append the toast HTML to the container
            $('#toastContainer').append(toastHTML);
            
            // Show the toast
            $('.toast').toast('show');
        }

</script>
<script>
    $(document).ready(function() {

    $('.view-details').click(function() {
        var vehicleId = $(this).data('vehicle-id');
        $('#viewVehicleModal').data('vehicle-id', vehicleId);

        $.ajax({
            url: '/api/v1/vehicle-detail/' + vehicleId,
            type: 'get',
            dataType: 'json',
            success: function(response) {
                // Assuming the response contains vehicle details
                $('#viewVehicleModal .modal-body #vehicle-number-plate').text(response.number_plate);
                $('#viewVehicleModal .modal-body #vehicle-status').text(response.status_name);
                // Update the links with the correct URL for editing
                // Finally, show the modal
                $('#viewVehicleModal').modal('show');
            }
        });
    });

    $(document).on('click', '.open-maintenance-modal', function() {
        var vehicleId = $('#viewVehicleModal').data('vehicle-id');
        console.log("Vehicle ID:", vehicleId); // Debugging line to ensure vehicle ID is correct
    
        $.ajax({
            url: '/api/v1/vehicles/' + vehicleId + '/maintenance/',
            method: 'GET',
            success: function(data) {
                var table = $('#maintenanceTable').DataTable(); // Reference the DataTable instance
                table.clear(); // Clear the table before adding new rows
    
                // Append new rows
                data.forEach(function(record, index) {
                    table.row.add([
                        index + 1,
                        record.number_plate,
                        record.last_service_mileage,
                        record.before_next_service_mileage,
                        record.next_service_mileage,
                        //record.status_name
                    ]);
                });
    
                table.draw(); // Redraw the table with the new data
    
                $('#maintenanceModal').modal('show');
            }
        });
    
        // Check if the DataTable is initialized, if not then initialize it
        if (!$.fn.DataTable.isDataTable('#maintenanceTable')) {
            $('#maintenanceTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        }
    });

    $(document).on('click', '.open-mileage-modal', function() {
        var vehicleId = $('#viewVehicleModal').data('vehicle-id');
        console.log("Vehicle ID:", vehicleId); // Debugging line to ensure vehicle ID is correct
    
        $.ajax({
            url: '/api/v1/vehicles/' + vehicleId + '/mileage/',
            method: 'GET',
            success: function(data) {
                var table = $('#mileageTable').DataTable(); // Reference the DataTable instance
                table.clear(); // Clear the table before adding new rows
    
                // Append new rows
                data.forEach(function(record, index) {
                    const firstName = record.user_profile.user.first_name || '';
                    const lastName = record.user_profile.user.last_name || '';
                
                    // Concatenate first name and last name with a space, and trim any extra spaces
                    const fullName = `${firstName} ${lastName}`.trim();
                    table.row.add([
                    index + 1,
                    record.created_at,
                    record.mileage_reading,
                    fullName
                    ]);
                });
    
                table.draw(); // Redraw the table with the new data
    
                $('#mileageModal').modal('show');
            }
        });
    
        // Check if the DataTable is initialized, if not then initialize it
        if (!$.fn.DataTable.isDataTable('#mileageTable')) {
            $('#mileageTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        }
    });
    
});
</script>